main {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.backgroundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.gridContainer {
  /* background-color: red; */
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  height: 500px;
  width: 500px;
  text-align: center;
}

.backgroundBrown {
  background-color: grey;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.WhiteCircle {
  border: 10px;
  border-radius: 50%;
  /* background-color: white; */
  margin: 10px;
}

.selectorContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 500px;
}

.selector {
  border: 10px;
  border-radius: 50%;
  background-color: blue;
  margin: 10px;
  height: 100px;
  cursor: pointer;
}
 .selector:hover {
   background-color: forestgreen;
 }

 .whiteBG {
   background-color: white;
 }

 .blueBG {
   background-color: lightblue;
 }

 .redBG {
   background-color: lightcoral;
 }

 .newClas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 }

 .startGame {
   margin-bottom: 15px;
 }

 .startGame-btn {
  width: 120px;
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: lightgreen;
}