main {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.backgroundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.gridContainer {
  /* background-color: red; */
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  height: 500px;
  width: 500px;
  text-align: center;
}

.backgroundBrown {
  background-color: grey;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.WhiteCircle {
  border: 10px;
  border-radius: 50%;
  /* background-color: white; */
  margin: 10px;
}

.selectorContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 500px;
}

.selector {
  border: 10px;
  border-radius: 50%;
  background-color: blue;
  margin: 10px;
  height: 100px;
  cursor: pointer;
}
 .selector:hover {
   background-color: forestgreen;
 }

 .whiteBG {
   background-color: white;
 }

 .blueBG {
   background-color: lightblue;
 }

 .redBG {
   background-color: lightcoral;
 }

 .newClas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
 }

 .startGame {
   margin-bottom: 15px;
 }

 /* .startGame-btn {
  width: 120px;
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: lightgreen;
} */

.startGame-btn {
appearance: button;
    background-color: #1652F0;
    border: 1px solid #1652F0;
    border-radius: 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    transition: all 80ms ease-in-out;
    width: fit-content;
}
.startGame-btn:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}
